.header{
  background-color: white;
  padding: 1rem 3rem 3rem 3rem;
  overflow: hidden;
  height: 2.4rem;
  border-bottom: 1px solid #ccc;
}
.headerlogo{
  color: #FF3030;
  font-size: 1.4rem;
  font-family: cursive;
  font-weight: 900;
  text-align: left;
}
.headertext{
  font-size: .9rem;
  font-family: cursive;
  font-weight: 600;
  color: #006400;
  display: inline-block;
  padding-left: .4rem;
}